{% extends "base.html" %}
{% load i18n static %}

{% block lead %}

<h1>Reset password</h1>
<p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>

{% endblock %}

{% block content %}

<div class="padded-content">
  <form method="post">{% csrf_token %}
    <fieldset class="module aligned">
      <div class="form-row field-email">
        <label for="id_email">{% trans 'Email address:' %}</label>
        {{ form.email }}
        {% for error in form.email.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
      </div>
      <input type="submit" class="button" value="{% trans 'Reset my password' %}"/>
    </fieldset>
  </form>

</div>

{% endblock %}
