{% extends "base.html" %} 
{% load i18n %}

{% block style %}

<style>
  .help li {
    color: gray;
  }

  .alert {
    width: 100%;
  }

  .alert ul {
    list-style: none;
    margin-left: 0;
  }
</style>

{% endblock %}

{% block lead %}

<h1>Password change</h1>

{% endblock %}

{% block content %}

<div id="content-main" class="padded-content">

  <form method="post">
    {% csrf_token %}
    <div>

      <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

      <fieldset class="module aligned wide">

        <div class="form-row">
          {% if form.old_password.errors %}
          <div class="callout alert" data-closable>
            {{ form.old_password.errors }} 
          </div>
          {% endif %}

          {{ form.old_password.label_tag }}
          {{ form.old_password }}
        </div>

        <div class="form-row">
          {% if form.new_password1.errors %}
          <div class="callout alert" data-closable>
            {{ form.new_password1.errors }} 
          </div>
          {% endif %}
          
          {{ form.new_password1.label_tag }} 
          {{ form.new_password1 }} 
          
          {% if form.new_password1.help_text %}
          <small class="help">{{ form.new_password1.help_text|safe }}</small>
          {% endif %}

        </div>

        <div class="form-row">
          {% if form.new_password2.errors %}
          <div class="callout alert" data-closable>
            {{ form.new_password2.errors }} 
          </div>
          {% endif %}
          
          {{ form.new_password2.label_tag }} 
          {{ form.new_password2 }} 
          
          {% if form.new_password2.help_text %}
          <small class="help">{{ form.new_password2.help_text|safe }}</small>
          {% endif %}
          
        </div>

      </fieldset>

      <div class="submit-row">
        <input type="submit" value="{% trans 'Change my password' %}" class="button" />
      </div>

    </div>
  </form>
</div>

{% endblock %}